<div class="container" *ngIf="project">
    <h2>{{title}}</h2>
    
    
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
      <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required />
        <span class="form_error" *ngIf="name.touched && !name.valid">El nombre es obligatorio</span>
      </p>
      <p>
        <label for="descripcion">Descripcion</label>
        <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required></textarea>
        <span class="form_error" *ngIf="description.touched && !description.valid">La descripccion es  obligatoria</span>
      </p>
      <p>
        <label for="category">Categoria</label>
        <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
        <span class="form_error" *ngIf="category.touched && !category.valid">La categoria es obligatoria</span>
      </p>
      <p>
        <label for="year">Año de lanzamiento</label>
        <input type="text" name="year" #year="ngModel" [(ngModel)]="project.year" />
      </p>
      <p>
        <label for="langs">Lenguajes utilizados</label>
        <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
        <span class="form_error" *ngIf="langs.touched && !langs.valid">Los lenguages son obligatorios</span>
      </p>
      <p>
        <label for="image">Imagen del proyecto</label>
      
          <span class="col-md-5" *ngIf="project.image">
            <img src="{{url+'image/'+ project.image}}" *ngIf="project.image" width="100"/>
            
          </span>
        
        <input type="file" value="image" placeholder="Subir imagen"  (change)="fileChangeEvent($event)"/>
      </p>
  
      <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!projectForm.form.valid" />
      <div class="message success" *ngIf="status == 'success'">
        
        El proyecto se ha creado correctamente , puedes verlo <a class="text-primary"  [routerLink]="['/proyecto',saveProject._id]">aquí!</a>
      </div>
      <div class="message failed text-danger"  *ngIf="status == 'failed'">
      
        El proyecto no se ha podido crear 
      </div>
  
    </form>
  
  </div>
  
  